* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 100%;
  background-color: #312450;
}
#SideBarHolder {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  margin: 0;
  margin-left: 2em;
  padding: 0;
}
#MainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
nav {
  position: fixed;
  top: 0;
  left: -18em;
  min-width: 20em;
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  padding-top: 4em;
  margin: 0;
  height: 100vh;
  gap: 1em;
  background-color: #312450;
  background-attachment: scroll;
  background-image: url(image/intro.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  transition: all 0.4s ease;
}
nav > a {
  position: relative;
  font-size: 1.5em;
  text-decoration: none;
  color: #fffb;
  width: calc(100% - 4em);
  display: inline-block;
  text-align: center;
}
nav > a:hover {
  color: #fff;
}
nav .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 1000;
  bottom: 0;
  background-color: #6f59a7;
  z-index: -1;
  transition: all 0.3s ease;
}
#navopen {
  position: fixed;
  left: 0;
  top: 0;
  width: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  padding: 0.5em;
}
#navopen > .top,
#navopen > .middle,
#navopen > .bottom {
  border-top: 0.15rem solid #fffb;
  width: 1.4rem;
  transition: all 0.3s ease;
}
#navopen:hover > .top,
#navopen:hover > .middle,
#navopen:hover > .bottom {
  border-top-color: #fff;
}
nav.opened {
  left: 0em;
  padding-bottom: 0.3em;
}
#navopen.opened > .top {
  transform: rotate(45deg) translate(0.5em, 0.425em);
}
#navopen.opened > .middle {
  opacity: 0;
}
#navopen.opened > .bottom {
  transform: rotate(-45deg) translate(0.5em, -0.425em);
}
.activeLocation {
  background-color: #6f59a7;
}
header,
section,
footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  margin: 0;
  background-image: linear-gradient(135deg, #5e42a6, #6f59a7);
  width: 100%;
  color: white;
  max-width: 100vw;
}
footer {
  align-items: center;
}
h1 {
  font-size: 2.4em;
  margin: 0;
  padding: 0.5em 0;
}
h2 {
  font-size: 1.7em;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
p {
  margin: 0;
  color: #fffb;
  max-width: 28em;
  text-align: left;
}
p a {
  color: #fffb;
}
p a:visited {
  color: #f0c6b6;
}
p a:hover {
  color: #fff;
}
.standardImage {
  min-width: 13em;
  width: 13em;
  min-height: 13em;
  height: 13em;
  outline: 0.1em solid #fff4;
}
.svg {
  display: inline-block;
  width: 2em;
  color: #fff8;
  position: relative;
}
.svg:hover,
.svg:active {
  color: #fff;
}
.svg:hover::after,
.svg:active::after {
  content: attr(aria-label);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  padding: 0.5em 1em;
  line-height: 1em;
  font-size: 0.9em;
  font-weight: normal;
  color: #fff;
  text-shadow: 1px 0 1px #888;
  background-color: #000b;
  border-radius: 0.5em;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
}
.svg:hover::before,
.svg:active::before {
  content: ' ';
  position: absolute;
  top: calc(100% - 0.6em);
  left: 50%;
  margin-left: -0.3em;
  border-width: 0.3em;
  border-style: solid;
  border-color: transparent transparent #000b transparent;
}
nav .svg:hover::after,
nav .svg:active::after {
  top: unset;
  bottom: calc(100% + 0.6em);
}
nav .svg:hover::before,
nav .svg:active::before {
  top: unset;
  bottom: 100%;
  border-color: #000b transparent transparent transparent;
}
.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}
.button {
  position: relative;
  border: 0.1em solid #fff5;
  border-radius: 3em;
  color: white;
  min-width: 15em;
  width: fit-content;
  max-width: 100%;
  padding: 1.5em 2.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  overflow: hidden;
  transition: all 0.2s ease;
}
.button:after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 0;
  transform: scale(0.25);
  transition: all 0.3s ease;
  border-radius: 3em;
}
.button:hover {
  border: 0.1em solid #fff;
}
.button:hover:after {
  opacity: 0.1;
  transform: scale(1);
}
.flexNav {
  display: flex;
  align-items: end;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
  max-width: calc(100% - 2em);
}
.pushDown {
  margin-top: auto;
}
.gridStyle1 {
  display: grid;
  gap: 1em;
  border-top: 0.1em solid white;
  padding: 1em 0;
  width: 100%;
}
@media screen and (min-width: 55em) {
  .gridStyle1 {
    grid-template-columns: 13em auto;
    grid-template-rows: repeat(4, min-content);
    margin-bottom: -1em;
  }
  .gridStyle1 > * {
    grid-column: 2/3;
    align-self: start;
  }
  .gridStyle1 > *:first-child {
    grid-column: 1/2;
    grid-row: 1/4;
    align-self: center;
  }
  #SideBarHolder {
    margin-left: 20em;
  }
  nav {
    left: 0em;
  }
  #navopen {
    display: none;
  }
}
@media screen and (min-width: 70em) {
  body {
    font-size: 120%;
  }
}
@media screen and (min-width: 80em) {
  body {
    font-size: 130%;
  }
}
@media screen and (min-width: 90em) {
  body {
    font-size: 140%;
  }
}
